{% extends "base.html" %}
{% block content %}

	<body>
		<div class="container">
		<section id="home" data-type="background" data-speed="10">
		<div class="container">
		<div class="opentype">
			<h2> Welcome
			<span class="to">to</span>
			Cupboard</h2>
			<span class="cupboard">Cupboard</span> 
			<span class="ingredients">uses your ingredients</span>
			<span class="million">to search 1,000,000+ recipes</span>
			<span class="most">from the most popular websites today-</span>
			<!-- <span class="popular"</span> -->
			<span class="get-started">Get started now!</span>
		</div>
		</div>
	</section>
	<!-- Section #2 -->
	<section id="about" data-type="background" data-speed="10">
		<article>What?! How is this happening?! It's called mmmaaagicc! (Or JavaScript...)</article>
		<div>
		<!-- MAKE SURE THIS BUTTON STILL WORKS! -->
		<a href="/search" class="button">Search!</a>
		</div>
	</section>
{% endblock %}
			