<!DOCTYPE html>
<!-- Search Page for Cupboard site -->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/cupboard_app/styles.css">
	</head>
		<body>
			<section>
			<ul>
				<li><a href="https://www.facebook.com">CUPBOARD</a></li>
				<li><a href="https://www.twitter.com">My Profile</a></li>
				<li><a class="active" href="https://www.youtube.com">Search!</a></li>
			</ul>
			</section>
			<div class="form">
				<form>
					1. Ingredients I have:<br>
					<input type="text" name="ingredients" value="Peaches, Flour, Strawberries..."><br>
					<input type="submit" value="2. Submit">
				</form>
			</div>
		</body>
</html>