/*Styles for Cupboard App*/

/*-------------------- MAIN STYLES ---------------------*/


/******
 * Font Imports
 */
  @import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300);
  @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);
/******/

/**
 * Body Stylings / Background Image for index
 **/

/*body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}*/
/*----------------------------------------------------------*/
/**
 * Navigation Bar
 **/

/* Main Navigation bar*/
ul {
	/*font-family: 'Work Sans', sans-serif;*/
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #2e2925;
}
/* Align all nav buttons to the left */
li {
	float: left;
}

/* Styles all a tags to their default styles */
li a {
	display: block;
	color: #f0f0ee;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* When NOT clicked */
li a:hover:not(.active){
	color: #2e2925;
	background-color: #95b401;
}

/* When a nav is the current tab */
.active {
	background-color: #95b401;
}

/* Align last button (search) to the right*/
li:last-child {
	float: right;
}

/*-------------------- INDEX STYLES ---------------------*/

/**
 * Styles the index and search pages to have same background photo
 **/
/*.index, .search {
	background-image: url("https://static.pexels.com/photos/60795/pexels-photo-60795.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
}
*/
/* Styles the centered text in the middle of the page */
/*/

/* Styles the text inside the class textcontainer */
/*div.textcontainer p {
	margin: 0;
	position: absolute;
	top: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
}*/

/* Styles the buttons */
 .button {
 	background-color: #2e2925;
 	border: none;
 	color: #fff;
 	padding: 20px 40px;
 	text-align: center;
 	text-decoration: none;
 	position: absolute;
 	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
 }

/* Stlyes the buttons whenever hovered over */
 .button:hover {
 	color: #2e2925;
 	background-color: #95b401;
 }

/*-------------------- SEARCH STYLES ---------------------*/

/**
 * Form Styles
 **/

/* Styles the main form */
input[type=text] {
	/*padding: 12px 20;*/
	/*padding: 30px 100px;*/
	margin: 0;
	box-sizing: border-box;
	border: 3px solid #2e2925;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	font-size: 0.3em;
	width: 500px;
	height: 100px;
}

/* When the form is clicked (or focus on) */
input[type=text]:focus {
	border: 3px solid #95b401;
}

/* Styles the submit button */
input[type=submit] {
	background-color: #2e2925;
	border: none;
	color: #fff;
	font-size: 1em;
	font-family: 'Josefin Sans', sans-serif;
	padding: 20px 40px;
	text-decoration: none;
	margin: 4px 2px;
}

/* Styles the submit button when hovered over */
input[type=submit]:hover {
	color: #2e2925;
	background-color: #95b401;
}


/**
 * Styles the Form
 **/
form {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 3em;
}

/*-------------------- RESULT STYLES ---------------------*/

/**
 * Styles the general look of the results page
 **/

/* creates the repeating background image */
.result {
	background-image: url("http://www.softplan.com/images/walnut.png");
	/*background-size: 100%;*/
	background-repeat: repeat;
}

/**
 * Styles the results page in a grid form
 **/
 .search_result {
 	width: 95%;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
 }

/* Creates and styles each individual result */
.result_grid {
	max-width: 290px;
	min-width: 290px;
	max-height: 290px;
	min-height: 290px;
	list-style: none;
	/*position: relative;
	/*overflow: hidden;*/
	padding: 10px;
	background-color: #2e2925;

	margin: 15px 15px 0 0;
	display: inline-block;
	vertical-align: top;
	border: 5px solid #2e2925;
	border-radius: 2px;
	box-shadow: 2px 2px #687e01;
}


/* Styles all a tags within the results_grid class */
.result_grid a {
	color: #fff;
	text-decoration: none;
}

/* Styles a tags when hovered over */
.result_grid a:hover {
	color: #e8e7e7;
}

/* Styles each image result*/
.result_grid img {
	left: 50%;
	top: 50%;
}

/*-------------------- PARALLAX STYLES ---------------------*/
body {
	margin: 0;
	padding: 0;
	background-color: #1b191a;
	font-family: 'Josefin Sans', sans-serif;
	/*font-size: 2em;*/
	color: #fff;
}

#home {
	background: url(images/bread.jpg) 50% 0 repeat fixed;
	/* make image size I want */
	/* Responsive Design */
	/*min-height: 1000px;*/
	/*height: 1000px;*/
	min-height: 900px;
	height: 900px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

/* Text styles within Home */
#home article {
	height: 458px;
	position: relative;
	text-align: center;
	top: 150px;
	width: 100%;
} 

#about {
	background: url(images/greens.jpg) 50% 0 no-repeat;
	min-height: 1000px;
	/* Responsive Design */
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	/* Pretty shadows */
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
/* Text styles within About */
#about article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 50%;
}

/* STYLES THE OPENING TEXT */

/*.container {
    width: 960px;
    margin: 0 auto;
}*/


/* Opentype Paragraph Styles */
.opentype {
	text-align: center;
    padding-top: 26vh;
}



/* Welcome to Cupboard Title */
.opentype h2 {
    color: #fff;
    width: 620px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 14px 0 13px 0;
    border-top: 4px double #676767;
    border-bottom: 4px double #676767;
    font-type: 'Vast Shadow', 'Arial Black';
}

/* Number One */
/* black itel */
.cupboard {
    font-style: italic;
    font-variant: normal;
    font-weight: 900;
    font-stretch: normal;
    font-size: 130px;
    line-height: 90px;
    font-family: 'Playfair Display', Georgia, serif;
    margin-top: 7px;
    margin-bottom: 12px;
    display: block;
}

/* Number Two*/
/* Itel */
.ingredients {
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 60px;
    line-height: 60px;
    font-family: 'Playfair Display', Georgia, serif;
    margin: 0 0 8px 6px;
    display: block;
}

/* Number Three */
/* Small Cap */
.million { 
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 18px;
    line-height: 36px;
    font-family: 'Playfair Display SC', Georgia, serif;
    letter-spacing: .17em;
    margin: 0 0 0 12px;
    text-transform: uppercase;
    display: block;
}

/* Number Four */
/* Reg */
.most {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 46px;
    line-height: 40px;
    font-family: 'Playfair Display', Georgia, serif;
    display: block;
    /*margin: 0 0 0 -10px;*/
    margin: 0 0 0 15;
}

/* Number Five */
/* Bold */ 
.popular {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 23px;
    line-height: 36px;
    font-family: 'Playfair Display', Georgia, serif;
    display: block;
    margin-left: 8px;
}
/* Number Six */
/* Black */
.get-started {
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-stretch: normal;
    font-size: 39px;
    line-height: 32px;
    font-family: 'Playfair Display', Georgia, serif;
    margin-left: 4px;
    display: block;
}

/*-------------------- FOOTER STYLES ---------------------*/
/**
 * Styles the footer
 **/
/* footer {
 	/* fix footer to the bottom of the page */
 	/*position: fixed;
 	left: 0px;
 	bottom: 0px;
 	height: 30px;
 	width: 100%;
 	background: #2d2824;
 	text-align: center;
 	color: white;
 	font-family: 'Josefin Sans', sans-serif;
 	padding: 7px;
 }