{% load staticfiles %}
<!DOCTYPE html>
<!-- Index Page for Cupboard site -->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="
		{% static 'cupboard_app/styles.css' %}">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="cupboard_app/results.js"></script>
	</head>
		<!-- <body> -->
			{% include "cupboard_app/_nav.html" %}
			{% block content %}
			{% endblock %}
			<!-- <footer>
				Cupboard 2016
			</footer> -->
		<!-- </body> -->
</html>